<!DOCTYPE html>
<html>
<head>
    <div id="header">
        {% block header %}{% include "header.html" %}{% endblock %}
    </div>
</head>
<body>
    <h1>Book Details</h1>
    <img src="{{ book_data['formats']['image/jpeg'] }}" alt="Book Cover">
    <p>Title: {{ book_data['title'] }}</p>
    <p>Author: {{ book_data['authors'][0]['name'] }}</p>
    <p>Birth Year: {{ book_data['authors'][0]['birth_year'] }}</p>
    <p>Death Year: {{ book_data['authors'][0]['death_year'] }}</p>
    <p>Language: {{ book_data['languages'][0] }}</p>
</body>
</html>



