<!DOCTYPE html>
<head>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional: Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}

    <!-- Här kan du fortsätta med innehållet för din categories-sida -->
    <h1>This is the Categories-page</h1>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            Choose category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="https://gutendex.com/books?topic=children">Children</a></li>
            <li><a class="dropdown-item" href="https://gutendex.com/books?topic=adventure">Adventure</a></li>
            <!-- Lägg till fler kategorier här -->
        </ul>
    </div>

    <!-- Eventuellt annat innehåll -->
</body>

</html>
